html{
	font-family: 'Cormorant Garamond', serif;
	padding: 1rem 0.5rem 2rem;
	max-width: 800px;
	margin: auto;
    font-size: 24px;
    letter-spacing: .01rem;
    word-break: break-word;
/*    background: black;*/
/*    color: white;*/
}

h1, h2, h3{
    font-weight: lighter;
}

h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0 0 1rem;
}

p{
    line-height: 1.6rem;
}


.project-highlight h3{
margin-top: 0;
}
.project-highlight img{
    padding-bottom: 0.5rem;
}

nav{
    background: rgba(255, 255, 255, 0.9);
    padding: 0 1rem;
}

ul{
    padding: 0;
}

ul li{
	list-style: none;
	margin-bottom: 1rem;
}

a {
    color: black;
}

nav a, #projects a{
	text-decoration: none;
}
a:hover, #projects a:hover{
	text-decoration: underline;
}
a:visited{
    color: black;
}

article{
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: black 0.5px solid;
    border-right: black 2px solid;
    border-bottom: darkslategray 3px solid;
    transition: 0.3s;
}

article h3::before{
    content: "case study";
    display: block;
    font-size: .8rem;
    font-variant: small-caps;
}

.indent{
    margin-left: 2rem;
}

.chat-links{
    margin: 0;
    display: grid;
    place-items: center;
    grid-template-columns:100%;
    column-gap: 20px;
}

.chat-links p {
    transform: translatey(0px);
    animation: float 10s ease-in-out infinite;
    mix-blend-mode: multiply;
    text-align: center;
    color: white;
    background-color: darkkhaki;
    padding: 50px;
    position: relative;
    box-shadow: 20px 20px whitesmoke;
    font-size: 1rem;
    width: 50%;
    margin: 0;
    border: 1px black solid;
    border-right: 3px black solid;
    border-bottom: 2px black solid;
}

.chat-links p:nth-child(1){
    background-color: white;
}

.chat-links p:nth-child(2){
    top: 40px;
}

.chat-links p:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
  }

.chat-links p:nth-child(1):before {
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    left: -20px;
    top: 40px;
}

.chat-links p:nth-child(1):after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 11px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid transparent;
    border-left: 11px solid transparent;
    left: -22px;
    top: 39px;
    z-index: -5;
}

.chat-links p:nth-child(2):before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid darkkhaki;
    border-left: 10px solid darkkhaki;
    right: -19px;
    top: 80px;
    box-shadow: 0 1px black;
}

.chat-links p:nth-child(2):after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid whitesmoke;
    border-left: 10px solid whitesmoke;
    right: -40px;
    top: 90px;
    z-index: -5;
}

.chat-links p:hover {
    background-color: lightgoldenrodyellow;
}
.chat-links p:nth-child(1):hover:before {
    border-top: 10px solid lightgoldenrodyellow;
    border-right: 10px solid lightgoldenrodyellow;
}

.chat-links p:nth-child(2):hover:before {
    border-bottom: 10px solid lightgoldenrodyellow;
    border-left: 10px solid lightgoldenrodyellow;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.topmargin4{
    margin-top: 4rem;
}

article:hover{
    border: black 0.5px solid;
    border-top: black 2px solid;
    border-left: darkslategray 3px solid;
}

article.green:hover, article.green:active, article.green:focus{
    background: honeydew;
}

article.purple:hover, article.purple:active, article.purple:focus{
    background: lavender;
}

article.yellow:hover, article.yellow:active, article.yellow:focus{
    background: LightGoldenRodYellow;
}

.block{
    display:block;
    margin-bottom: 2rem;
}
.secondaryinfo{
 border-left: 3px solid black;
 padding-left:1rem;
 letter-spacing: .05rem;
 font-size: .9rem;
}

.inline{
    display: inline;
}

mark{
    background-color: clear;
}

.mark{
    background: linear-gradient(180deg, #fff 60%, #FFDF50 40%);
}

.mark-purple{
    background: linear-gradient(180deg, #fff 60%, rgba(195,150,209, 0.7) 40%);
}
.mark-yellow{
    background: linear-gradient(180deg, #fff 60%, rgba(246,178,29, 0.7) 40%);
}
.mark-green{
    background: linear-gradient(180deg, #fff 60%, rgba(81,176,67, 0.7) 40%);
}

#skillstools, #projects, #chat{
    margin-top: 6rem;
}

.other-projects p{
    font-weight: bold;
}
.other-projects p em{
    font-weight: normal;
}

img{
    width: 100%;
    padding-bottom: 1.3rem;
}

.highlight-photo{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.brand-images{
    display: grid;
    grid-template-columns: auto auto;
}

.brand-images img{
    height: 120px;
    padding: 1rem;
    object-fit: contain;
    box-sizing: border-box;
}
/*project details*/

dt{
    font-size: 0.8rem;
    font-variant: small-caps;
    font-weight: bold;
}

.role{
    display: block;
    margin: 0;
    font-style: italic;
}
.role:before{
    content: "as a ";
}
.CTA{
    font-size: 2rem;
    float: right;
}
.bullets{
    padding: revert;
}

.bullets li{
    list-style: disc;
}
small{
    font-style: italic;
    margin-left: 1rem;
    display: block;
    margin-bottom: 2rem;
}

.project-image{
    padding-bottom:.3rem;
}

.cover-image{
    max-height:40vh;
    object-fit: cover;
}

.right{
    float: right;
}

.lighter{
    color: light-grey;
    font-size: 0.7rem;
}
/*END project details*/

.design-process>div{
    position: relative;
}
.design-process img{
    margin:0;
    padding:0;
    content: url("process-mobile.svg");
}

.design-process .text{
    text-align: center;
    position: absolute;
    top: 40%;
    font-weight: bold;
    font-variant: small-caps;
    font-size:1.2rem;
}

.design-process .no{
    opacity: 0.3;
    filter: grayscale(100%);
}

.design-process .no .text{
    font-size:1rem;
}

.discover {

}
.define {
    transform: rotate(180deg);
}
.design {
}
.develop {
    transform: rotate(180deg);
}


@media only screen and (min-width: 600px) {
    
    html{
        padding: 1rem 2rem 2rem;
        font-size: 19px;
    }
    
	#navbar {
        position: fixed;
        top: 0; /* Stay on top */
        left: 1rem;
        transition: top 1s; /* Transition effect when sliding down (and up) */
	}
    .design-process .text{
        text-align: center;
        position: absolute;
        top: 40%;
        left: 35%;
        font-weight: bold;
        font-variant: small-caps;
        font-size:1.2rem;
    }
    
    .design-process{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .design-process img{
        content: url("process.svg");
    }
    
    .other-projects{
        padding-left: 1rem;
    }

    .chat-links{
        grid-template-columns: 50% 50%;
    }
    
    .chat-links p {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

}

@media only screen and (min-width: 700px) {
    h2{
        font-size: 4rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 800px) {
	img{
        max-width:800px;
	}
    
    .brand-images{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    
    dl{
        display: grid;
        grid-template-columns: max-content auto;
    }

    dt{
        grid-column-start: 1;
    }

    dd{
        grid-column-start: 2;
        padding-bottom: 1rem;
    }

}
