html{
	font-family: 'Cormorant Garamond', serif;
	padding: 1rem 2rem 2rem;
	max-width: 800px;
	margin: auto;
}

nav{
background: rgba(255, 255, 255, 0.9);
padding: 1rem;
}

ul{
padding: 0;
}

ul li{
	list-style: none;
	margin-bottom: 1rem;
}

a {
color: black;
}

Nav a, #projects a{
	text-decoration: none;
}
a:hover, #projects a:hover{
	text-decoration: underline;
}
a:visited{
color: black;
}

article{
Padding: 1rem 2rem;
}
.indent{
Margin-left: 2rem;
}

.block{
Display:block;
Margin-bottom: 1rem;
}
.inline{
Display: inline;
}

mark{
background-color: clear;
}

.mark{
background: linear-gradient(180deg, #fff 60%, #FFD0AE 40%);
}

.mark-purple{
background: linear-gradient(180deg, #fff 60%, rgba(160,70,189, 0.7) 40%);
}
.mark-yellow{
background: linear-gradient(180deg, #fff 60%, rgba(246,178,29, 0.7) 40%);
}
.mark-green{
background: linear-gradient(180deg, #fff 60%, rgba(81,176,67, 0.7) 40%);
}

#skillstools, #projects, #chat{
margin-top: 6rem;
}

.other-projects{
padding-left: 1rem;
}

.other-projects p{
font-weight: bold;
}
.other-projects p em{
font-weight: normal;
}

img{
Max-width:85vw;
}

@media only screen and (min-width: 600px) {

	#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  left: 1rem;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
	}

}

@media only screen and (min-width: 800px) {
	img{
	max-width:800px;
	}
}
