/* STRUCTURE ====================================*/

html{
    font-family: 20px "Cormorant Infant", serif;
    font-weight: 500;
    font-style: normal;

    letter-spacing: .01rem;
    word-break: keep-all;
    line-height: 1.6;
    background: #131313;
    color: #DEDEDE;
    margin-bottom: 200px;
    
}@media only screen and (min-width: 600px) {
    html{
        padding: 2rem 0 2rem;
        font-size: 19px;
    }
}@media only screen and (min-width: 1200px) {
    html{
        max-width: none;
        padding: 0;
        margin: 0 0 200px 0;
    }
}
@media only screen and (min-width: 700px) { font: 24px 'Cormorant Infant', serif; }

body{
    padding: 2rem 1rem 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
    .container-full{ padding: 0 0 2rem; }
    .container-wide{
        padding: 1rem 0;
        width: 1000px;
        margin: auto;
    }
    .container-narrow{
        padding: 1rem 0;
        width: 800px;
        margin: auto;
    }
}


/* ALIGNMENT & SPACING ====================================*/

.center{ text-align: center; }
.inline{ display: inline; }
.resultsCTA{ margin-bottom: 2rem; }

/* TEXT ====================================*/

h1{ margin: 0;
    font-weight: lighter; }
h2{ font: 2.027rem/1.3em 'Cormorant Infant', serif; margin-bottom: 1rem; }
h3{ font: 1.802rem/1em 'Cormorant Infant', serif; margin: 1rem 0 .3rem;}
h4{ font: 1.602rem/1em 'Cormorant Infant', serif; margin: 1rem 0 .3rem;}
@media only screen and (min-width: 800px) {
    h2{ font: 3.815rem/4.5rem 'Cormorant Infant', serif; }
    h3{ font: 3.052rem/3rem 'Cormorant Infant', serif; }
    h4{ font: 2.441rem/2.0rem 'Cormorant Infant', serif; }

}

.subheading{
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.description{ font: 2rem/3rem 'Cormorant Infant', serif; }

p{ font: 1rem/2rem 'Lato', sans-serif;}
ul li strong{ font: 1rem/2rem 'Lato', sans-serif; font-weight: 700;}
b, strong{ font-family: 'Cormorant Infant'; }
p b, p strong, li b{ font-family: 'Lato', sans-serif; }
a:visited{ color: white; }
.referencetext{
    font-size: 0.7rem;
    float: right;
    text-align: right;
}
small{
    display: block;
    letter-spacing: 1.5;
    max-width:600px;
    float: right;
    text-align: right;
    font-family: 'Lato', sans-serif;
/*    letter-spacing: .1em;*/
}

.mobile-only{
}
.medium-large-only{
    display: none;

}

@media only screen and (min-width: 700px) {
    
    .mobile-only{
        display: none;
    }
    .medium-large-only{
        display: initial;
    }
}


/* LISTS ====================================*/

ul{ padding: 0; }
ul li{ list-style: none; }
ol li, ul li{ margin-bottom: .6rem; font-family: 'Lato', sans-serif;}

.bullets{ padding: revert; }
.bullets li{ list-style: "\2012  "; }

dt{
    font: small-caps 0.8rem 'Cormorant Infant Bold', serif;
    padding-right: 0.5rem;
}
dd{ font-family: 'Lato', sans-serif;}

@media only screen and (min-width: 700px) {
    dd{
        margin-inline-start: 0;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    dl{
        display: grid;
        grid-template-columns: max-content auto;
    }
    dt{ grid-column-start: 1; }
    dd{
        grid-column-start: 2;
        padding-bottom: 1rem;
    }
}

/* MARKS (Highlights) ====================================*/

.mark{ background: linear-gradient(180deg, #fff 60%, #FFDF50 40%); }
.mark-purple{ background: linear-gradient(180deg, #131313 60%, rgba(195,150,209, 0.7) 40%); }
.mark-yellow{ background: linear-gradient(180deg, #131313 60%, rgba(246,178,29, 0.7) 40%); }
.mark-red{ background: linear-gradient(180deg, #131313 60%, rgba(255,70,72, 0.7) 40%); }
.mark-green{ background: linear-gradient(180deg, #131313 60%, rgba(81,176,67, 0.7) 40%); }
.mark-blue{ background: linear-gradient(180deg, #0051C2 60%, rgba(50,180,255, 0.7) 40%); }

/* EFFECTS ====================================*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade {
  background-color: lightgreen;
  opacity: 1;
}

@keyframes float {
  0% { transform: translatey(0px); }
  50% { transform: translatey(-20px); }
  100% { transform: translatey(0px); }
}

.reveal{
    position: relative;
    transform: translatey(150px);
    opacity: 0;
    transition: all 2s ease
}
.reveal.active{
    transform: translatey(0px);
    opacity: 1;
}

/* NAVIGATION ====================================*/
nav{
    background: #131313;
    z-index: 1000;
    width: 100%;
    padding: 0 1rem;
}
nav a, #projects a{ text-decoration: none; }

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    transition: top 1s; /* Transition effect when sliding down (and up) */
}@media only screen and (min-width: 475px) {
    #navbar { left: 1rem; }
}
#navbar li{
    list-style: none;
    float: left;
    margin: 0 .6rem 0 0;
    line-height: 2rem;
    font-family: "Cormorant Infant", serif;
}
#navbar li a{ font-size: 0.8rem; color: #DEDEDE;
}@media only screen and (min-width: 600px) {
    #navbar li a{ font-size: 1rem; }
}
#navbar a:hover{ background: linear-gradient(180deg, #131313 60%, rgba(246,178,29, 0.7) 40%); }
#navbar a>h1:hover{ background: linear-gradient(180deg, #131313 60%, rgba(246,178,29, 0.7) 40%); }

/* COMPONENTS: GLOBAL ====================================*/

#about{
    animation: fadein 2s;
    position: relative;
    scroll-snap-type: y mandatory;
}

.card{
    padding: 1rem 2rem;
    box-shadow: 4px 4px 10px lightgrey;
    box-sizing: border-box;
}

.challenge{
    padding: 1rem 2rem;
    border-left: 6px solid gray;
    box-shadow: 4px 4px 10px lightgrey;
    box-sizing: border-box;
    margin-bottom: 1rem;
    border-radius: 5px 0 0 5px;
    background: #fefefe;
}
.challenge h4{ font: small-caps 1rem 'Cormorant Infant Bold'; margin: 0;}

.cover-image{
    max-height:50vh;
    object-fit: cover;
}

.CTA{
    font-size: 2rem;
    float: right;
}

details {
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-right-width: 1px;
    border-bottom-width: 2px;
    padding: 0 0.5rem;
    background: white;
}
details #text { content: "see other projects"; }
details[open] #text { content: "hide other projects"; }
details[open] > summary:before { transform: rotate(90deg);}

.sticky-context{
    padding:0;
    position: fixed;
    bottom: 0;
    right: 0;
    height:100vh;
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    z-index: -100;
}
.sticky-context p{
    writing-mode: vertical-lr;
    padding: 2rem 0;
    color: #79B9DE;
    font-size: .8rem;
    letter-spacing: .01rem;
    opacity: 0.67;
}

img{
    width: 100%;
    padding-bottom: 1.3rem;
}

/* SECONDARY INFO ====================================*/

.secondaryinfo{
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 14rem;
}
.secondaryinfo-block{
    width: 100%;
    text-align: left;
}

.secondaryinfo-block-edu li, .secondaryinfo-block-skills ul{
    margin-bottom: 2.5rem;
}
.secondaryinfo-block-content img{
        padding: 0;
        max-width: 120px;
}
@media only screen and (min-width: 475px) {
    .secondaryinfo{
         flex-direction: row;
         flex-wrap: wrap;
    }
    .secondaryinfo-block{ width:46%; }
    .secondaryinfo-block:nth-child(3){ width:100%; }
    
    .secondaryinfo-block-skills{
        text-align: right;
    }
}@media only screen and (min-width: 800px) {
    .secondaryinfo{
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: stretch;
    }
    .secondaryinfo-block{ width:45%;}
}

summary{
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}
summary:before{
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent black;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* BRANDS ====================================*/


.brands{
    margin-top: 14rem;
}
.brands-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;
    margin-top: 4rem;
    align-items: center;
}
.brands-images img{
    max-height: 60px;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
    align-self:center;
}
@media only screen and (min-width: 475px) {
    .brands-images{ grid-template-columns: 1fr 1fr 1fr; }
}@media only screen and (min-width: 800px) {
    .brands-images img{
        max-height: 2rem;
    }
}

#chat, .brands{
    text-align: left;
}@media only screen and (min-width: 475px) {
    #chat, .brands{
        text-align: center;
    }
}

/* CHAT ====================================*/

#chat{
    margin-top: 14rem;
}

.chat-message-container{
    margin: 4rem 4rem 4rem auto;
    width: fit-content;
    text-align: left;
}
#chat a{
    text-decoration: none;
}

.chat-link{
    transform: translatey(0px);
    animation: float 10s ease-in-out infinite;
    color: white;
    background-color: #0051C2;
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 2.5rem;
    display: block;
}@media only screen and (min-width: 475px) {
    .chat-link{ padding: 30px 60px;}
}@media only screen and (min-width: 1080px) {
    .chat-link {
        margin: 2rem;
        margin-left: auto;
    }
}
.chat-link:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}
.chat-link:before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0051C2;
    border-left: 10px solid #0051C2;
    right: -15px;
    bottom: 25px;
}

.chat-link span{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.chat-link:hover:before {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4F4F5E;
    border-left: 10px solid #4F4F5E;
}
.chat-link:hover{ background: #4F4F5E; }

.chat-link:hover .mark-blue, .chat-link:hover .mark-blue, .chat-link:hover .mark-blue{ background: linear-gradient(180deg, #4F4F5E 60%, rgba(50,180,255, 0.7) 40%); }


/* INTRO ====================================*/


.intro-component{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin: 10vh 0 0;
    gap: 1rem;
}
.intro-component img{
    object-fit: cover;
    max-height: 50vh;
}
.intro-component h2{
    margin: 0 0 1rem;
}
@media only screen and (min-width: 800px) {
    .intro-component{
        flex-wrap: nowrap;
        text-align: right;
    }
    .intro-component-text{
        max-width: 60%;
    }
    .intro-component img{
        max-width: 38%;
        max-height: none;
    }
}@media only screen and (min-width: 1200px) {
    .intro-component h2{
        display: inline;
    }
}
.intro-component-description{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 6rem;
}@media only screen and (min-width: 1200px) {
    .intro-component-description{
        text-align: center;
    }
}
.intro-component-large{ font: 1.3rem/1.1rem 'Cormorant Infant', serif; }
.intro-component-large strong{ font-family: 'Cormorant Infant', serif; }
.intro-component-emphasis{
    display: block;
    text-align: right;
    font-style: italic;
    margin: 0;
}@media only screen and (min-width: 1500px) {
}


/* IMAGE FORMATTING ====================================*/

.invertimage{
    filter: invert(100%);
}
